
<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    
    <head>
<link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>
  <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
	<link href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-switch/3.3.2/css/bootstrap2/bootstrap-switch.css" rel="stylesheet">
	<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-switch/3.3.2/js/bootstrap-switch.js"></script>
<link href="https://gitcdn.github.io/bootstrap-toggle/2.2.2/css/bootstrap-toggle.min.css" rel="stylesheet"> 
<script src="https://gitcdn.github.io/bootstrap-toggle/2.2.2/js/bootstrap-toggle.min.js"></script>
<link rel="stylesheet"
	href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
<script
	src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>
<script
	src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>

<link
	href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-switch/3.3.2/css/bootstrap2/bootstrap-switch.css"
	rel="stylesheet">
<script
	src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-switch/3.3.2/js/bootstrap-switch.js"></script>

<script type="text/javascript"
	src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>



<link rel="stylesheet"
	href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
<script
	src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>
<script
	src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>

<link
	href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-switch/3.3.2/css/bootstrap2/bootstrap-switch.css"
	rel="stylesheet">


<style type="text/css">
#bootstrap-switch {
	height: 30px;
	width: 30px;
}
</style>
<script>
	/* $( document ).ready(function() {
	 $("[name='my-checkbox']").bootstrapSwitch();
	}) */;
</script>
<!-- Optional theme -->

<!-- Latest compiled and minified JavaScript -->



<title>MyAQI</title>
<link rel="stylesheet"
	href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
<script
	src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
<script
	src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
<script
	src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>
<script src="http://maps.googleapis.com/maps/api/js"></script>
<script
	src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>




<script>



if (checkbox1.checked) {
		alert("The check box is checked."+checkbox1);


	function OnChangeCheckbox(checkbox1) {
		if (checkbox1.checked) {
			alert("The check box is checked."+checkbox1);

		} else {
			var data1={"sensor_id":checkbox1};
			alert("The check box is not checked."+checkbox1);
			$.ajax({
				type : "POST",
				url : "/updateEndTime",
				data : data1,
				dataType : 'json',
				success : function(res) {
					console.log("in rtkook");
					//window.location = "user.js";
					//alert('byebye');
				//	window.location.assign('/getusers');
				}
			});
		
		
		
		
		}
	}
	
	function showBill(e) {
		var data1={"sensor_id":e};
		$.ajax({
			type : "POST",
			url : "/ShowBill",
			data : data1,
			dataType : 'json',
			success : function(res) {
				console.log("in showbill");
				//window.location = "user.js";
				//alert('byebye');
			//	window.location.assign('/getusers');
			}
		});

		// alert("id is "+e.attr('id'));
		var data1 = {
			"e1" : e
		};
	}

	function refreshData(e) {
	var	e1=id1[e]
		alert('fff' + e1);
		alert('location is '+x3[e]);
		
		// alert("id is "+e.attr('id'));
		
		
		
		//for breezometer 
			
	
			
		$.get( "https://api.breezometer.com/baqi/?lat="+x3[e]+"&lon="+y3[e]+"&key=89dd912e381d4fb797763ae7882c6230",
 function( data2 ) {
			alert("this aqi:"+data2.breezometer_aqi);
 alert( JSON.stringify(data2.breezometer_description));
  alert("hello bhai"+JSON.stringify(data2));


	
	
	
		
		var data1 = {
			"sensor_id" : e1,
			"breezometer_aqi": data2.breezometer_aqi,
			"breezometer_description" : data2.breezometer_description,
			
			
			
		};
	
 		
		alert("refresh button is checked.");
		$.ajax({
			type : "POST",
			url : "/refreshData",
			data : data1,
			dataType : 'json',
			success : function(res) {
				console.log("in refresh");
			
				alert('byebye');
	
			}
		
		});
		});
	}

	$(document).ready(function() {
		$("#hide").click(function() {
			$("#googleMap").hide();
			
		
		});
		$("#show").click(function() {
			$("#googleMap").show();
		});
		
		 $("[name='my-checkbox']").bootstrapSwitch();
		
	});
</script>


<script>

	var a = [];
	var b = [];
	var l = [];
	var x3=[];
	var y3=[];
	alert
	var id1 = [];
	var readings = [];
	id1.push(<%= id %>);
	x3.push(<%= lat %>);
	y3.push(<%= lng %>);
	alert('bhai');
	alert(x3);

	alert('behni');
	alert(y3);
	
	alert(id1+'ruch');
	var count = <%= lat.length %>;
	b.push(<%= lat %>);
	a.push(<%= lng %>);
	readings.push(<%= readings %>);	function initMap() {
		var myLatLng = {
				lat : 37.3382,
				lng : 121.8863
			};
			

	<% for(var i=0; i<(loc).length; i++) {%>
	
	l.push("<%= loc[i]%>");
alert(l[<%= i%>]+"locauo");
	<% } %>
	//loc.push("ruc");

	/*  alert(l);
	 alert(b); */
	// alert('patel'+ lng.length);
	//alert("fkjhjk"+a.toString());
	var map;
	//console.log(<%= lat[2] %>);
	//alert(<%= lat[2] %>);

		
		map = new google.maps.Map(document.getElementById('googleMap'), {
			center : {
				lat : 37.3382,
				lng : -121.8863
			},
			zoom : 5
		});
		alert(l.length);
		var no;
		var z;
		
		var marker = [];
		var infowindow1 = [];
		
		for (z = 0; z < id1.length; z++) {
			alert(l[z]+'ruchit31');

			
			marker[z] = new google.maps.Marker({
				position : {
					lat : b[z],
					lng : a[z]
				},
				map : map,
				//draggable:true,
				title : l[z]
			});

			var contentString1 = '<div id="content">'
					+ '<div id="siteNotice">'
					+ '</div>'
					+ '<h5 id="firstHeading" class="firstHeading">Sensor ID: '
					+ id1[z]
					+ '</h5>'
					+ '<h5 id="firstHeading" class="firstHeading">Latitude: '
					+ b[z]
					+ '&nbsp Longitude'
					+ a[z]
					+ '</h5>'
					+ '<h5 id="firstHeading" class="firstHeading">Location is :   '
					+ l[z]
					+ '</h5>'
					+ '<h5 id="firstHeading" class="firstHeading">Sensor Readings : AQI = '
					+ readings[z]
					+ '</h5>'
					+ '<button onclick="demo('+id1[z]+')"> subscribe </button>'
					+ '<div id="bodyContent">' + '<p>.</p>' + '</div>'
					+ '</div>';

		 	 infowindow1[z] = new google.maps.InfoWindow({
				content : contentString1
			}); 
 			/* marker[z].addListener('click', function() {
				infowindow1[z].open(map, marker[z]);
			}); */
 
			google.maps.event.addListener(marker[z], 'click', function(innerKey) {
			      return function() {
			          infowindow1[innerKey].open(map, marker[innerKey]);
			      }
			    }(z));
			
			
	/* 		google.maps.event.addListener(marker[z], 'click',
					(function(marker, z) {
						return function() {
							alert(z+'nitish'); 
								//google.maps.event.addDomListener(document.getElementById('hello'), 'click', removeMarker);
							google.maps.event.addDomListener(document.getElementById('hello'), 'click', removeMarker);
						}
					})(marker, z));  */
 
 // Nitesh //
 
 /*  google.maps.event.addListener(marker[z], 'click', function(innerKey) {
      return function() {
          infowindows[innerKey].open(map, markers[innerKey]);
      }
    }(key));
 */
					
					

			
					
			

		}
	}
	
	function demo(sensorID){
		
		//alert('nitish' + sensorID);
	
	
		
		var table = document.getElementById("myTable");
		var row = table.insertRow(1);
		var cell1 = row.insertCell(0);
		var cell2 = row.insertCell(1);
		var cell3 = row.insertCell(2);
		var cell4 = row.insertCell(3);
		var cell5 = row.insertCell(4);
		var cell6 = row.insertCell(5);
		var cell7 = row.insertCell(5);

		//var sensorid= Math.floor(Math.random() * 9999) + 1000 

		if (Math.floor(Math.random() * 2) + 1 == 1)

			cell2.innerHTML = "Carbon Monoxide";

		else
			cell2.innerHTML = "Nitrogen  dioxide";

	
		//alert("sensor id:"+sensorID+"id1[]:"+id1[sensorID]);
		
		
        //alert(l[id1[sensorID]]+"aaja data");
		
         for (var index=0;index<l.length;index++){
        	if(id1[index]==sensorID)
        		{
        		alert(l[index])
        		break;
        		}
     
         }
         
         
 		cell1.innerHTML = id1[index];
     	cell3.innerHTML = ""+readings[index];

    	
        cell4.innerHTML = ""+l[index];
        var contentString1 = 	

		//cell5.innerHTML = '<input type="checkbox" onclick="OnChangeCheckbox('+index+')"  id="bootstrap-switch" name="my-checkbox" checked>';
cell5.innerHTML='<div id="content" style="width:10px;height:10px">'+'<input type="checkbox" onclick="OnChangeCheckbox('+index+')" checked data-toggle="toggle"  name="my-checkbox" />'+'</div>';
		var element_id = sensorID;
		
		
		
		
		var d = new Date();
		var d1=ISODateString(d);
		//alert(d1+"new date");
		function ISODateString(d){
			  function pad(n){return n<10 ? '0'+n : n}
			  return d.getUTCFullYear()+'-'
			      + pad(d.getUTCMonth()+1)+'-'
			      + pad(d.getUTCDate()) +' '
			      + pad(d.getUTCHours())+':'
			      + pad(d.getUTCMinutes())+':'
			      
			      + pad(d.getUTCSeconds())
			}

		cell6.innerHTML = '<input type="submit" name=' + sensorID
				+ '  value= "Refresh Data"+' + element_id + ' id='
				+ element_id + '  onclick="refreshData('+index+')"></input>';
				
				cell7.innerHTML = '<input type="submit" name=' + sensorID
				+ '  value= "Show Bill" id='
				+ element_id + '  onclick="showBill(' + element_id
				+ ')"></input>';
				
				
				  var data1={"user_id":1,
					  		
					  		"sensor_id":sensorID,
					  		"bill_amount":0,
					  		"ViewCount":0,
					  		"vendor_id":1,
					  		"sensor_type":"gaowale",
					  		"sensor_start_time":d1,
					  		"sensor_end_time":"",
					  		"sensor_duration":0,
					  		"sensor_location":l[index]
					  		
			  
				      };
				  
				
		   $.ajax({
	        	 type: "POST",
	        	 url: "/addUserSensor",
	        	 data:data1,
	        	 dataType: 'json',
	        	 success: function(res){
	        	 console.log("in rtkook");
	        	 //window.location = "user.js";
	              alert('byebye');
	        //	 window.location.assign('/getusers12');
	        	 }
	        	 }); 
	     
				
				 
				
	
	
	
	}
	
</script>
<script
	src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAXnffF7ylILywQ59fUIYcfCntsrMNMIcg&callback=initMap"
	async defer></script>




















<style>
<
title>Simple Map </title> <meta name ="viewport " content
	 ="initial-scale =1.0 "> <meta charset ="utf-8 "> <style>#bootstrap-switch
	{
	height: 50px;
	width: 50px;
}

html, body {
	height: 100%;
	padding: 0;
}

table {
	border-collapse: collapse;
}

table, th, td {
	border: 2px solid black;
	padding: 10px;
	color: black;
}

#map {
	height: 50%;
	width: 50%;
	position: static;
	left: 250px;
	top: 250px;
}

body {
	margin: 0;
	padding: 0;
	font-family: 'roboto', arial, helvetica, sans-serif;
	color: #007FFF;
	font-size: 16px;
	font-weight: 300;
	line-height: 1.3em;
}

* {
	box-sizing: border-box;
}

.clear:after {
	display: block;
	content: '';
	clear: both;
}

p {
	margin: 0;
}


p+p {
	margin-top: .5em;
}

.wrapper {
	max-width: 1000px;
	margin: auto;
	padding: 0 1em;
}

.wrapper:after {
	display: block;
	content: '';
	clear: both;
}

a {
	color: inherit;
	text-decoration: none;
	font-weight: 300;
}

.main a {
	border-bottom: 1px dotted;
}

.main a:hover {
	border: transparent;
}

.three-col:after {
	display: block;
	content: '';
	clear: both;
}

@media ( min-width : 768px) {
	.three-col>* {
		width: 33.333%;
		float: left;
	}
}

.button {
	display: inline-block;
	background: #c76d5b;
	color: white;
	padding: 1em 1.25em;
	text-transform: uppercase;
	font-weight: normal;
	cursor: pointer;
}

.button:hover {
	background: #341d34;
}

h1 {
	font-size: 36px;
}

h2 {
	font-size: 30px;
}

h3 {
	font-size: 24px;
}

h4 {
	font-size: 20px;
}

h1, h2, h3, h4 {
	font-weight: normal;
	font-family: 'roboto condensed';
	line-height: 1em;
}

.page-title {
	float: left;
	padding: 0 2em;
}

.page-title h1 {
	margin: 15px 0 0px;
}

.page-title .breadcrumbs {
	font-size: 14px;
}

.page-title .breadcrumbs>* {
	opacity: .5;
}

.page-title .breadcrumbs>*:last-child {
	opacity: .75;
}

.logo {
	border-left: 10px #007FFF solid;
	border-right: 1px #007FFF solid;
	background: #ffffff;
	width: 220px;
	float: left;
	padding: 1em;
}

@media ( min-width : 768px) {
	.user-panel {
		float: right;
		margin-top: 15px;
	}
	.user-panel a {
		margin-left: 1em;
	}
}

.user-panel a {
	text-transform: uppercase;
}

.user-panel .accedi, .user-panel .portafogli, .user-panel .guida {
	display: inline-block;
	color: black;
	margin: 0 5px;
}

.user-panel .accedi .icon, .user-panel .portafogli .icon, .user-panel .guida .icon
	{
	background: url(http://i64.tinypic.com/25sc2s1.png) no-repeat;
	width: 40px;
	height: 40px;
	margin: auto;
}

.user-panel .accedi:hover, .user-panel .portafogli:hover, .user-panel .guida:hover
	{
	opacity: .7;
}

.user-panel .portafogli .icon {
	background-position: left top;
}

.user-panel .accedi .icon {
	background-position: center top;
}

.user-panel .guida .icon {
	background-position: right top;
}

@media ( max-width : 767px) {
	.user-panel {
		padding: 5px 0 10px;
		margin: auto;
		text-align: center;
	}
}

.main {
	max-width: 600px;
	padding: 1px 2em 2em 2em;
	position: relative;
	margin-left: 220px;
}

.main label {
	font-weight: normal;
	margin-left: .5em;
}

.main .option-block {
	margin-top: 1em;
	line-height: 1em;
}

.action-panel {
	position: absolute;
	top: -70px;
	right: 0;
	z-index: 1;
}

.action-panel .action {
	margin: .5em;
	width: 25px;
	height: 25px;
	font-size: 32px;
	line-height: 25px;
	display: inline-block;
	cursor: pointer;
}

.action-panel .action.add {
	background-position: left center;
}

.action-panel .action.edit {
	background-position: center;
}

.action-panel .action.delete:hover {
	color: #c00;
}

.action-panel .action:Hover {
	opacity: .75;
}

.action-panel .action:active {
	transform: scale(1.2);
}

aside {
	border-left: 10px #007FFF solid;
	border-right: 1px #007FFF solid;
	background: #ffffff;
	width: 220px;
	min-height: 650px;
	float: left;
}

aside .main-menu ul {
	list-style-type: none;
	padding: 0;
}

aside .main-menu .icon {
	font-size: 24px;
	margin-right: 10px;
}

aside .main-menu a {
	padding: 1em;
	display: block;
	text-decoration: none;
	border-bottom: none;
	position: relative;
	border-top: 1px solid rgba(0, 0, 0, 0.05);
}

aside .main-menu a.active, aside .main-menu a:hover {
	background: #007FFF;
	color: white;
	text-decoration: none;
}

aside .main-menu a.active:after {
	width: 0;
	content: '';
	display: block;
	position: absolute;
	top: 33%;
	right: 0px;
	height: 0;
	border-top: 10px solid transparent;
	border-bottom: 10px solid transparent;
	border-right: 10px solid white;
}

@media ( min-width : 768px) {
	.footer .three-col>*:nth-child(1), .footer .three-col>*:nth-child(3) {
		width: 25%;
	}
	.footer .three-col>*:nth-child(2) {
		width: 50%;
	}
}
</style>
    
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>SB Admin - Bootstrap Admin Template</title>

    <!-- Bootstrap Core CSS -->
    <link href="/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom CSS -->
    <link href="/css/sb-admin.css" rel="stylesheet">

    <!-- Morris Charts CSS -->
    <link href="/css/plugins/morris.css" rel="stylesheet">

    <!-- Custom Fonts -->
    <link href="/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>

<body>

    <div id="wrapper">

        <!-- Navigation -->
        <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <font color="#FFA62F">MyAQI</font>
            </div>
            <!-- Top Menu Items -->
            <ul class="nav navbar-right top-nav">
               
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown"><i class="fa fa-user"></i> User <b class="caret"></b></a>
                    <ul class="dropdown-menu">
                      
                        <li>
                            <a href="/UserLogOut"><i class="fa fa-fw fa-power-off"></i> Log Out</a>
                        </li>
                    </ul>
                </li>
            </ul>
            <!-- Sidebar Menu Items - These collapse to the responsive navigation menu on small screens -->
            <div class="collapse navbar-collapse navbar-ex1-collapse">
                <ul class="nav navbar-nav side-nav">
                    <li>
                        <a href="/User_Dashboard"><i class="fa fa-fw fa-dashboard"></i> Dashboard</a>
                    </li>
                    <li class="active">
                        <a href="/User_AirQualityOverview"><i class="fa fa-fw fa-bar-chart-o"></i>Air Quality Overview</a>
                    </li>
                    <li>
                        <a href="/User_Subscriptions"><i class="fa fa-fw fa-table"></i> My Subscriptions</a>
                    </li>
                    
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </nav>

        <div id="page-wrapper">

            <div class="container-fluid">

                <!-- Page Heading -->
                <div class="row">
                    <div class="col-lg-12">
                        <h1 class="page-header">
                            Air Quality Overview 
                        </h1>
                       
                    </div>
                </div>
                <!-- /.row -->
                
                    
                    <div class="col-lg-3 col-md-6">
                        <div class="panel panel-green">
                            <div class="panel-heading">
                                <div class="row">
                                    <div class="col-xs-3">
                                        <i class="fa fa-tasks fa-5x"></i>
                                    </div>
                                    <div class="col-xs-9 text-right">
                                        <div>Dashboard</div>
                                        
                                    </div>
                                </div>
                            </div>
                            <a href="/User_Dashboard">
                                <div class="panel-footer">
                                    <span class="pull-left">View Details</span>
                                    <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
                                    <div class="clearfix"></div>
                                </div>
                            </a>
                        </div>
                    </div>
                    
                    <div class="col-lg-3 col-md-6">
                        <div class="panel panel-yellow">
                            <div class="panel-heading">
                                <div class="row">
                                    <div class="col-xs-3">
                                        <i class="fa fa-fw fa-wrench fa-5x"></i>
                                    </div>
                                    <div class="col-xs-9 text-right">
                                                                        
                                    </div>
                                </div>
                            </div>
                            <a href="/User_Subscriptions">
                                <div class="panel-footer">
                                    <span class="pull-left">View Details</span>
                                    <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
                                    <div class="clearfix"></div>
                                </div>
                            </a>
                        </div>
                    </div>
                    
                    

			</div>
                <div class="row">
                    <div class="col-lg-12">
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h3 class="panel-title"><i class="fa fa-bar-chart-o fa-fw"></i> Map To Obtain Air Quality Index</h3>
                            </div>
                            <div class="panel-body">
                                
                        				<button id="hide">Hide Map</button>
				<button id="show">Show Map</button>
				<div id="googleMap" style="width: 900px; height: 450px;"></div>
				<hr>
				<form>
					<div></div>
				</form>
			</div>
			<div>
				<table id="myTable" class="table" style="background-color: white;">
					<tr>

						<th style="color: black;">Sensor id</th>
						<th style="color: black;">Sensor type</th>
						<th style="color: black;">Sensor Reading</th>
						<th style="color: black;">Sensor Location</th>
					
						<th style="color: black;">Sensor Status</th>
						<th style="color: black;">View Bill</th>
						<th style="color: black;">Refresh Data</th>
					

					</tr>
				</table>

                            </div>
                        </div>
                    </div>
				
		</div>
		
	</section>

                

            </div>
            <!-- /.container-fluid -->

        </div>
        <!-- /#page-wrapper -->

    </div>
    <!-- /#wrapper -->

    <!-- jQuery -->
    <script src="/js/jquery.js"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="/js/bootstrap.min.js"></script>

    <!-- Morris Charts JavaScript -->
    <script src="/js/plugins/morris/raphael.min.js"></script>
    <script src="/js/plugins/morris/morris.min.js"></script>
    <script src="/js/plugins/morris/morris-data.js"></script>

</body>

</html>
